<div class="container">
  <div class="header">
    COMPANY NAME
  </div>
  <div class="body">
    <div class="main_info">
      <div>PROJECT NAME: <span id="project_name">Name</span></div>
      <div>DOMAIN: <span id="domain">Domain</span></div>
      <div>PROJECT MANAGER: <span id="project_manager">Manager</span></div>
      <div>TEAM LEAD: <span id="project_manager">Lead</span></div>
    </div>
    <div class="detailed_info">
      <div>MAIN TECHNOLOGY: <span id="main_technology">Main technology</span></div>
      <div>ADDITIONAL TECHNOLOGIES USED: <span id="additional_technologies">
          <ul>
            <li>Technology</li>
          </ul>
        </span></div>
      <div>DESCRIPTION: <span id="description">Description</span></div>
    </div>
    <div id="team_members">
      <div id="team_member_1">
        <a href="/project/team/11222">Team member</a>
      </div>
    </div>
  </div>
</div>
